body {
  font-family: 'Times New Roman';
  background: #45676F; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

*:focus {
  outline: none; }

* {
  box-sizing: border-box; }

.board {
  height: 500px;
  width: 950px;
  position: relative;
  border-radius: 10px 5px 5px 5px;
  z-index: 1; }

body {
  line-height: normal;
  font-size: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5F4F4;
  background-image: url("../images/dark_wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: calibri;
  z-index: -10000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

button, input, optgroup, select, textarea {
  font: inherit; }

#speak {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none; }
  #speak #text {
    width: 67%;
    border-radius: 5px; }
  #speak #chat-button {
    border-radius: 5px;
    float: right;
    font-weight: bold;
    width: 33%;
    color: white;
    background-color: #131d85; }

#tabs {
  overflow: hidden; }
  #tabs a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: rgba(102, 102, 102, 0.61);
    border-radius: 6px;
    border: solid 1px black;
    padding: .2em 0;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
    box-shadow: inset -1px 1px 3px #000000bd, inset 1px -1px 3px #000000b0; }
    #tabs a:focus {
      outline: none; }
  #tabs li {
    padding: .5em 0;
    display: flex;
    float: left;
    width: 30%;
    margin: 0 .1em; }
  #tabs:first-child {
    padding-left: .5em; }

#chatroom {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 235px; }

#logroom {
  overflow-y: scroll;
  max-height: 258px;
  padding-left: .75em; }
  #logroom li {
    list-style: initial;
    margin-left: .4em;
    margin-right: .4em; }

.new-message {
  animation: new-message 4s infinite; }

@keyframes pulse {
  0% {
    background-color: #3776db; }
  50% {
    background-color: #FF4136; }
  100% {
    background-color: #3776db; } }
@keyframes new-message {
  0% {
    color: white; }
  50% {
    color: #ffd900; }
  100% {
    color: white; } }
.divider {
  height: 2px;
  width: 510px;
  background-color: black;
  position: absolute;
  top: 248px;
  left: 220px;
  z-index: 1; }

#chooseDeck {
  z-index: 2; }
  #chooseDeck input {
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 3px;
    bottom: 119px;
    right: 77px;
    height: 27px;
    width: 72px;
    background-image: url("../images/fantasy_button_normal.jpg");
    background-size: contain; }
    #chooseDeck input:hover {
      background-image: url("../images/fantasy_button_hover.jpg"); }
    #chooseDeck input:active {
      background-image: url("../images/fantasy_button_pressed.jpg"); }
  #chooseDeck select {
    cursor: pointer;
    border-radius: 5px;
    background-color: grey;
    color: black;
    height: 28px;
    width: 165px;
    animation: pulse 6s infinite;
    position: absolute;
    bottom: 165px;
    right: 27px; }

.myCard {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  height: 88px;
  width: 63px; }
  .myCard img {
    box-shadow: 1px 1px 1px #2a2a2a; }
  .myCard p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.theirCard {
  position: absolute;
  bottom: 412px;
  right: 0px;
  height: 88px;
  width: 63px;
  z-index: 3; }
  .theirCard img {
    box-shadow: 1px 1px 1px #2a2a2a; }
  .theirCard p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

img {
  max-width: 100%; }

.mag {
  height: 308px;
  width: 220px;
  max-height: 308px;
  max-width: 220px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px 10px 10px 10px;
  z-index: 2; }

#chatroom::-webkit-scrollbar {
  display: none; }

#background-desc::-webkit-scrollbar {
  display: none; }

.push-button-red {
  position: relative;
  display: inline-block;
  width: 59px;
  height: 59px;
  border: 0;
  outline: none;
  background-color: #b41e1e;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
  box-shadow: inset 0 1.84375px 0 #ca2222, inset 0 -1.84375px 0 #9e1a1a, inset 0 0 0 1.84375px #a71c1c, inset 0 0 0 4.9166666667px #b41e1e, inset 0 0 0 5.9px #5d0f0f, inset 0 0 0 6.4130434783px black, inset 0 0 0 7.8666666667px rgba(234, 129, 129, 0.7), inset 0 0 0 10.7272727273px #b41e1e, inset 0 23.6px 7.8666666667px #9e1a1a, inset 0 0 5.9px 9.8333333333px #881717, 0 2.95px 0 rgba(0, 0, 0, 0.3); }
  .push-button-red:after {
    content: '';
    position: absolute;
    bottom: 2.95px;
    left: 5.9px;
    display: block;
    width: 47.2px;
    height: 47.2px;
    border: 3.9333333333px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 3.9333333333px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .push-button-red:hover {
    box-shadow: inset 0 1.84375px 0 #ca2222, inset 0 -1.84375px 0 #9e1a1a, inset 0 0 0 1.84375px #a71c1c, inset 0 0 0 4.9166666667px #b41e1e, inset 0 0 0 5.9px #5d0f0f, inset 0 0 0 6.4130434783px black, inset 0 0 0 7.8666666667px #d18181, inset 0 0 0 10.7272727273px #b41e1e, inset 0 23.6px 7.8666666667px #9e1a1a, inset 0 0 5.9px 9.8333333333px #881717, 0 2.95px 0 black; }
    .push-button-red:hover:after {
      bottom: 1.6857142857px;
      border-width: 0 0 5.9px; }
  .push-button-red:active, .push-button-red.is-pushed {
    box-shadow: inset 0 1.84375px 0 #ca2222, inset 0 -1.84375px 0 #9e1a1a, inset 0 0 0 1.84375px #a71c1c, inset 0 0 0 4.9166666667px #b41e1e, inset 0 0 0 5.9px #5d0f0f, inset 0 0 0 6.9411764706px #050101, inset 0 0 0 7.8666666667px rgba(234, 129, 129, 0.2), inset 0 0 0 10.7272727273px #a71c1c, inset 0 23.6px 7.8666666667px #911818, inset 0 0 5.9px 9.8333333333px #721313, 0 2.95px 0 rgba(0, 0, 0, 0.3);
    background-color: #ab1d1d; }
    .push-button-red:active:after, .push-button-red.is-pushed:after {
      bottom: 6.8833333333px;
      border-width: 0; }

.push-button-blue {
  position: relative;
  display: inline-block;
  width: 59px;
  height: 59px;
  border: 0;
  outline: none;
  background-color: #1e3d75;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 200ms;
  box-shadow: inset 0 1.84375px 0 #234889, inset 0 -1.84375px 0 #193261, inset 0 0 0 1.84375px #1b3769, inset 0 0 0 4.9166666667px #1e3d75, inset 0 0 0 5.9px #091324, inset 0 0 0 6.4130434783px black, inset 0 0 0 7.8666666667px rgba(88, 132, 212, 0.7), inset 0 0 0 10.7272727273px #1e3d75, inset 0 23.6px 7.8666666667px #193261, inset 0 0 5.9px 9.8333333333px #14284c, 0 2.95px 0 rgba(0, 0, 0, 0.3); }
  .push-button-blue:after {
    content: '';
    position: absolute;
    bottom: 2.95px;
    left: 5.9px;
    display: block;
    width: 47.2px;
    height: 47.2px;
    border: 3.9333333333px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 3.9333333333px;
    border-radius: 50%;
    transition-duration: 200ms; }
  .push-button-blue:hover {
    box-shadow: inset 0 1.84375px 0 #234889, inset 0 -1.84375px 0 #193261, inset 0 0 0 1.84375px #1b3769, inset 0 0 0 4.9166666667px #1e3d75, inset 0 0 0 5.9px #091324, inset 0 0 0 6.4130434783px black, inset 0 0 0 7.8666666667px rgba(88, 132, 212, 0.9), inset 0 0 0 10.7272727273px #1e3d75, inset 0 23.6px 7.8666666667px #193261, inset 0 0 5.9px 9.8333333333px #14284c, 0 2.95px 0 rgba(0, 0, 0, 0.3); }
    .push-button-blue:hover:after {
      bottom: 1.6857142857px;
      border-width: 0 0 5.9px; }
  .push-button-blue:active, .push-button-blue.is-pushed {
    box-shadow: inset 0 1.84375px 0 #234889, inset 0 -1.84375px 0 #193261, inset 0 0 0 1.84375px #1b3769, inset 0 0 0 4.9166666667px #1e3d75, inset 0 0 0 5.9px #091324, inset 0 0 0 6.9411764706px black, inset 0 0 0 7.8666666667px rgba(88, 132, 212, 0.2), inset 0 0 0 10.7272727273px #1b3769, inset 0 23.6px 7.8666666667px #162c55, inset 0 0 5.9px 9.8333333333px #0e1d38, 0 2.95px 0 rgba(0, 0, 0, 0.3);
    background-color: #1c396d; }
    .push-button-blue:active:after, .push-button-blue.is-pushed:after {
      bottom: 6.8833333333px;
      border-width: 0; }

.magOppo {
  height: 308px;
  width: 220px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 10px 10px 10px;
  z-index: 2;
  background-color: rgba(40, 40, 40, 0.79);
  padding: 0;
  background-image: url("../images/glass_streaks.png"); }

.hand-zone {
  height: 132px;
  width: 333px;
  position: absolute;
  bottom: 0;
  left: 75px;
  font-size: 3em;
  text-align: center;
  line-height: 132px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(204, 9, 9, 0.75);
  background-image: url("../images/glass_streaks.png");
  background-size: cover; }

.hand-zone-oppo {
  height: 132px;
  width: 333px;
  position: absolute;
  top: 0;
  right: 75px;
  font-size: 3em;
  text-align: center;
  line-height: 132px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(15, 31, 153, 0.57);
  background-image: url("../images/glass_streaks_180.png");
  background-size: cover; }

.card {
  border-radius: 4px;
  transition: transform .3s linear; }
  .card img {
    border-radius: 4px; }

.triggered {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; }

.grave {
  height: 88px;
  width: 63px;
  position: absolute;
  bottom: 100px;
  left: 0; }

.graveOppo {
  height: 88px;
  width: 63px;
  position: absolute;
  top: 100px;
  right: 0;
  transform: scale(-1, 1); }

#shuffle {
  position: absolute;
  box-shadow: 2px 2px 0px #9e9e9e;
  border: 1px solid #0000006e;
  cursor: pointer;
  display: none;
  margin-top: .5em;
  left: 14px;
  border-radius: 10px;
  top: 44px; }
  #shuffle:hover {
    box-shadow: 3px 3px 0px #9e9e9e;
    left: 13px;
    top: 43px; }
  #shuffle:active {
    box-shadow: none;
    left: 16px;
    top: 46px; }

#search {
  margin-top: .5em;
  box-shadow: 2px 2px 0px #9e9e9e;
  border: 1px solid #0000006e;
  cursor: pointer;
  position: absolute;
  display: none;
  left: 80px;
  border-radius: 10px;
  top: 44px; }
  #search:hover {
    box-shadow: 3px 3px 0px #9e9e9e;
    left: 79px;
    top: 43px; }
  #search:active {
    box-shadow: none;
    left: 82px;
    top: 46px; }

#builder {
  cursor: pointer;
  box-shadow: 2px 2px 0px #9e9e9e;
  border: 1px solid #0000006e;
  position: absolute;
  display: none;
  left: 81px;
  bottom: 192px;
  border-radius: 10px;
  text-align: center;
  width: 123px;
  color: black; }
  #builder:hover {
    box-shadow: 3px 3px 0px #9e9e9e;
    left: 80px;
    bottom: 193px; }
  #builder:active {
    box-shadow: none;
    left: 82px;
    bottom: 190px; }

#help {
  position: absolute;
  border: 1px solid #0000006e;
  cursor: pointer;
  width: 59px;
  border-radius: 10px; }

.help-first {
  box-shadow: 2px 2px 0px #9e9e9e;
  left: 77px;
  bottom: 6px; }
  .help-first:hover {
    box-shadow: 3px 3px 0px #9e9e9e;
    left: 76px;
    bottom: 7px; }
  .help-first:active {
    box-shadow: none;
    left: 79px;
    bottom: 4px; }

.help-second {
  box-shadow: 2px 2px 0px #9e9e9e;
  left: 15px;
  bottom: 192px; }
  .help-second:hover {
    box-shadow: 3px 3px 0px #9e9e9e;
    left: 14px;
    bottom: 193px; }
  .help-second:active {
    box-shadow: none;
    left: 17px;
    bottom: 190px; }

#token {
  position: absolute;
  box-shadow: 2px 2px 0px #9e9e9e;
  border: 1px solid #0000006e;
  margin-top: .5em;
  display: none;
  width: 59px;
  left: 146px;
  top: 44px;
  border-radius: 10px;
  cursor: pointer; }
  #token:hover {
    box-shadow: 3px 3px 0px #9e9e9e;
    left: 145px;
    top: 43px; }
  #token:active {
    box-shadow: none;
    left: 148px;
    top: 46px; }

#apod {
  position: absolute;
  box-shadow: 2px 2px 0px #9e9e9e;
  border: 1px solid #0000006e;
  left: 66px;
  bottom: 6px;
  cursor: pointer;
  border-radius: 10px;
  display: none; }
  #apod:hover {
    box-shadow: 3px 3px 0px #9e9e9e;
    left: 65px;
    bottom: 7px; }
  #apod:active {
    box-shadow: none;
    left: 68px;
    bottom: 4px; }

#background-desc {
  position: absolute;
  font-size: .85em;
  text-align: justify;
  color: white;
  display: none;
  left: 9px;
  top: 128px;
  width: 205px;
  height: 117px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden; }
  #background-desc a {
    text-decoration: none;
    color: pink; }

.token {
  position: absolute;
  top: 86px;
  left: 142px;
  height: 88px;
  width: 63px;
  z-index: 2000;
  overflow: hidden;
  border-radius: 10px;
  border: solid 1px black;
  transition: transform .3s linear;
  line-height: 88px;
  text-align: center;
  font-family: calibri;
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

#myHealth {
  position: absolute;
  bottom: 1px;
  left: 2px;
  font-size: 2.1em;
  font-family: calibri;
  color: white;
  cursor: pointer;
  line-height: 59px;
  text-align: center;
  display: none; }

#theirHealth {
  position: absolute;
  bottom: 3px;
  left: 159px;
  font-size: 2.1em;
  font-family: calibri;
  color: white;
  cursor: pointer;
  line-height: 59px;
  text-align: center;
  display: none; }

#background-img {
  width: 100%;
  max-height: 100%;
  height: 100%; }

#background-div {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/*# sourceMappingURL=styles.css.map */
